
.title {
    color: #002850; 
    text-align: center;
    font-weight: bold;
    background-color: 
    whitesmoke; 
    border-radius: 25px;
    background: whitesmoke;
    padding: 20px;
    width: 200px;
    height: 150px
}
.para{
    text-align: center;
    border-width: 17px; 
    border-style:solid; 
    border-color:#ffffff;
    padding: 1em;
}

.heading{
    font-weight: bold;
    text-decoration-line: underline;
    color: #002850;
    background-color: #bce8fe;
    
}
.story {
    color: #444;
}

.img1{
    float: left;
    width:20%;
}

.img2{
    float: right;
    width:20%;
}

.review{
    color: #444;
}

@media screen and (max-width: 768px) {
   .title { 
    background-color: none; 
    background: none;
    margin-top: 100px;
    border-radius: none;
   }

   .img1{
    float: none;
    width: 49%;
    padding-right: 1%;  
    }

    .img2{
    float: right;
    width: 49%; 
    }

    .para {
        padding-bottom: 25px;
    }
  }